<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.steinlogic.iap6test.consumable</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>EggBasket</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.steinlogic.iap6test.nonconsumable</string>
	</array>
	<key>Subscriptions</key>
	<dict>
		<key>com.steinlogic.iap6test.autorenew</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
